/* .text-primary{
    color: #7286D3!important
}

.bg-primary{
    background-color: #7286D3!important
}

.btn-primary{
    background-color: #7286D3!important;
    border-color: #7286D3 !important;
} */


.dropdown-item{ 
    cursor: pointer;
}

.dropdown-item:active{ /*menghilangkan style default */
    background-color:unset !important;
    color: unset !important;
}

.img-404{
    width: 80%;
}

@media (min-width: 768px) {
    .img-404{
        width: 35%;
    }

    .h-md-100{
        height: 100%;
    }

    .z-md-2{
        z-index: 2;
    }
}